rsource "bt/Kconfig.bt_module"
rsource "camera/Kconfig.camera_module"
rsource "common/Kconfig.common"
rsource "fs/Kconfig.fs_module"
rsource "mcu_exchange/Kconfig.mcu_exchange_module"
rsource "mqtt/Kconfig.mqtt_module"
rsource "sensors/Kconfig.sensors_module"
rsource "lodepng/Kconfig.lodepng_module"
rsource "watchdog/Kconfig.watchdog_module"
