#include <dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart1;
	};

/*
	// Check this out in the future
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&lfs1_part>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	}; 
*/


};

&uart0 {
	status = "disabled";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <31>;
	scl-pin = <29>;
	clock-frequency = <I2C_BITRATE_STANDARD>;

	mlx90640: mlx90640@33 {
		compatible = "mlx90640";
		reg = <0x33>;
		label = "MLX90640";
	};

	arducam_i2c0: arducam_i2c@60 {
		compatible = "arducam";
		reg = <0x60>;
		status = "okay";
		label = "ARDUCAM";
	};
};

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <24>;
	mosi-pin = <22>;
	miso-pin = <20>;
	cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	arducam_spi0: arducam_spi@0 {
		compatible = "arducam";
		reg = <0>;
		status = "okay";
		label = "ARDUCAM";
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <32>;
	mosi-pin = <15>;
	miso-pin = <13>;
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
    sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "okay";
                label = "SDHC0";
                spi-max-frequency = <24000000>;
    };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_1";
	};
};